<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">

<div layout:fragment = "contentPart">

    <h5 class="container offset-2" th:text="${student.name}"></h5>
    <div class="container mb-5">
        <div class="col-4 my-5">
            <form action="/editStudent" method="post">
                <input type="hidden" name="id" th:value="${student.id}">
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" name="name" class="form-control" th:placeholder="${student.name}" th:value="${student.name}">
                </div>
                <div class="form-group">
                    <label>Surname: </label>
                    <input type="text" name="surname" class="form-control" th:placeholder="${student.surname}" th:value="${student.surname}">
                </div>
                <div class="form-group">
                    <label>Surname: </label>
                    <input type="number" name="year" min="2019" class="form-control" th:placeholder="${student.yearOfAddmission}" th:value="${student.yearOfAddmission}">
                </div>
                <button type="submit" class="btn btn-primary float-right mb-4 ml-1">Save</button>
            </form>
            <form action="/deleteStudent" method="post">
                <input type="hidden" name="id" th:value="${student.id}">
                <button type="submit" class="btn btn-danger float-right">Delete</button>
            </form>
        </div>
    </div>

    <br>
    <div class="mt-3">
        <h5 class="mt-5">Assigned courses:</h5>
        <!--<a th:href="@{'/addCourseToStudentPage/'+${student.id}}"><button type="button" class="btn btn-success float-left mb-4">Add course</button></a>-->
        <!--<form action="/addCourseToStudentPage/" method="post">
            <input type="hidden" name="id" th:value="${student.id}">
            <button type="submit" class="btn btn-success float-left mb-4">Add course</button>
        </form>-->

        <!-- Button trigger modal -->

        <button type="button" class="btn btn-success float-left" data-toggle="modal" data-target="#exampleModalCenter1">
            Add course
        </button>
        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle1">Available coueses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body my-3 mx-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">CREDITS</th>
                                <th scope="col">ADD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "c : ${notAttendCourses}">
                                <th scope="row" th:text = "${c.id}"></th>
                                <td th:text = "${c.name}"></td>
                                <td th:text = "${c.credits}"></td>
                                <form action="/addCourseToStudent" method="post">
                                    <input type="hidden" th:value="${student.id}" name="studentId">
                                    <input type="hidden" th:value="${c.id}" name="courseId">
                                    <td><button type="submit" class="btn btn-primary">Add</button></td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 my-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">CREDITS</th>
                    <th scope="col">REMOVE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "c : ${student.courses}">
                    <th scope="row" th:text = "${c.id}"></th>
                    <td th:text = "${c.name}"></td>
                    <td th:text = "${c.credits}"></td>
                    <td>
                        <form action="/removeCourseFromStudent" method="post">
                            <input type="hidden" name="course_id" th:value="${c.id}">
                            <input type="hidden" name="student_id" th:value="${student.id}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <br>
    <div class="mt-3">
        <h5 class="mt-5">Assigned groups:</h5>

        <!-- Button trigger modal -->

        <button type="button" class="btn btn-success float-left" data-toggle="modal" data-target="#exampleModalCenter2">
            Add group
        </button>
        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Available groups</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body my-3 mx-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">SHORT NAME</th>
                                <th scope="col">EDIT</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "g : ${notAttendGroups}">
                                <th scope="row" th:text = "${g.id}"></th>
                                <td th:text = "${g.name}"></td>
                                <td th:text = "${g.shortName}"></td>
                                <form action="/addGroupToStudent" method="post">
                                    <input type="hidden" th:value="${student.id}" name="studentId">
                                    <input type="hidden" th:value="${g.id}" name="groupId">
                                    <td><button type="submit" class="btn btn-primary">Add</button></td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 my-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">SHORT NAME</th>
                    <th scope="col">EDIT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "g : ${student.groups}">
                    <th scope="row" th:text = "${g.id}"></th>
                    <td th:text = "${g.name}"></td>
                    <td th:text = "${g.shortName}"></td>
                    <td>
                        <form action="/removeGroupFromStudent" method="post">
                            <input type="hidden" name="group_id" th:value="${g.id}">
                            <input type="hidden" name="student_id" th:value="${student.id}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</html>