<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">

<div layout:fragment = "contentPart">

<h5 class="container offset-2 mt-4">Groups</h5>
<div class="container">
    <div class="col-4 my-5">
        <form action="/addGroup" method="post">
            <div class="form-group">
                <label>Group name: </label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Short name: </label>
                <input type="text" min="1" name="shortName" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary float-right mb-4">Add</button>
        </form>
    </div>


    <div class="col-6 my-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">SHORT NAME</th>
                <th scope="col">EDIT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "g : ${groups}">
                <th scope="row" th:text = "${g.id}"></th>
                <td th:text = "${g.name}"></td>
                <td th:text = "${g.shortName}"></td>
                <td><a th:href = "@{'/detailGroupPage/'+${g.id}}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</div>
</html>