<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">

<div layout:fragment = "contentPart">

    <div class="col-4 mr-5">
        <div class="list-group">

            <a class="list-group-item list-group-item-action" th:href="@{/courses}">COURSES</a>
            <a class="list-group-item list-group-item-action" th:href="@{/students}">STUDENTS</a>
            <a class="list-group-item list-group-item-action" th:href="@{/groups}">GROUPS</a>

        </div>
    </div>


</div>
</html>